---
// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<footer class:list={["py-6 px-6 w-full container", className]}>
  <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Built by <a
        href="https://github.com/HYP3R00T"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">HYP3R00T</a
      >. The source code is available on
      <a
        href="https://github.com/HYP3R00T/CelestialDocs"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">GitHub</a
      >.
    </p>
  </div>
</footer>
