---
import SideNavMenu from "@/components/docs/SideNavMenu.astro";

import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { ScrollArea } from "@/components/ui/scroll-area";

import { MenuIcon, X } from "lucide-react";

import { menu } from "@/lib/utils";
import { menu_items, docconfig } from "config";

const pathname = new URL(Astro.request.url).pathname;
---

<style>
  .menu-overlay {
    display: none;
  }

  .menu-overlay.active {
    display: block;
  }
</style>

<div onclick="toggleMenu()">
  <Button variant={"ghost"} size="icon" client:load>
    <MenuIcon className="h-[1.2rem] w-[1.2rem]" />
  </Button>
</div>

<div
  class="menu-overlay z-[100] w-screen h-screen absolute top-0 left-0 px-6 py-4 bg-background flex flex-col"
>
  <div onclick="closeMenu()" class="flex justify-end">
    <Button variant={"ghost"} size="icon" client:load>
      <X className="h-[1.2rem] w-[1.2rem]" />
    </Button>
  </div>
  <div class="mt-6 flex flex-col items-start px-6">
    {
      menu_items.map((item) => (
        <a href={item.href}>
          <Button
            variant="link"
            className={pathname === item.href ? "underline" : ""}
            key={item.href}
          >
            {item.title}
          </Button>
        </a>
      ))
    }
    {
      !docconfig.hide_side_navinations && (
        <div class="py-4 w-full max-h-static_hamnavmenu h-v">
          <Separator />
          <ScrollArea className="h-full w-full" client:only="react">
            <SideNavMenu items={menu} level={0} class="px-4 " />
          </ScrollArea>
        </div>
      )
    }
  </div>
</div>

<script is:inline>
  function toggleMenu() {
    const menuOverlay = document.querySelector(".menu-overlay");
    if (menuOverlay) {
      menuOverlay.classList.toggle("active");
    }
  }

  function closeMenu() {
    const menuOverlay = document.querySelector(".menu-overlay");
    if (menuOverlay) {
      menuOverlay.classList.remove("active");
    }
  }
</script>
