---
import { Icon } from "astro-icon/components";

import { Button } from "@/components/ui/button";
import type { HeaderLogoProps } from "@/lib/types";

// Component accepts no props
Astro.props as HeaderLogoProps;
---

<Button variant="ghost" size="icon">
    <a href="/" class="flex items-center gap-2" aria-label="Home">
        <Icon name="logo" class="size-5" />
    </a>
</Button>
