---
import { HEADER_FEATURES } from "@data/config";
import { Icon } from "astro-icon/components";

import { CommandPalette } from "@/components/core/CommandPalette";
import HeaderGithubButton from "@/components/core/HeaderGithubButton.astro";
import HeaderLogo from "@/components/core/HeaderLogo.astro";
import HeaderMobileMenu from "@/components/core/HeaderMobileMenu.astro";
import HeaderNav from "@/components/core/HeaderNav.astro";
import LayoutWidthToggle from "@/components/core/LayoutWidthToggle.astro";
import SearchTrigger from "@/components/core/SearchTrigger.astro";
import ThemeToggle from "@/components/core/ThemeToggle.astro";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import type { HeaderProps } from "@/lib/types";

// Component accepts no props
Astro.props as HeaderProps;

const menuButtonId = "mobile-menu-btn";
const menuPanelId = "mobile-menu";
---

<header class="bg-background sticky top-0 z-50 w-full">
    <div id="header-inner" class="flex w-full items-center px-4 py-3 md:py-4">
        <div class="flex items-center gap-6">
            <HeaderLogo />
            <HeaderNav />
        </div>

        <div class="ml-auto flex items-center lg:h-4 lg:gap-2">
            <SearchTrigger />
            <Separator orientation="vertical" className="hidden lg:block" />
            {
                HEADER_FEATURES.enableGitHubButton && (
                    <>
                        <HeaderGithubButton />
                        <Separator orientation="vertical" className="hidden lg:block" />
                    </>
                )
            }
            {
                HEADER_FEATURES.enableLayoutWidthToggle && (
                    <>
                        <LayoutWidthToggle />
                        <Separator orientation="vertical" className="hidden lg:block" />
                    </>
                )
            }
            <ThemeToggle />

            <Button
                id={menuButtonId}
                className="md:hidden"
                variant="ghost"
                size="icon"
                aria-expanded={"false"}
                aria-controls={menuPanelId}
                aria-label="Toggle navigation menu"
                data-state="closed"
            >
                <Icon data-icon="menu" name="menu" class="size-5" />
                <Icon data-icon="close" name="close" class="hidden size-5" />
            </Button>
        </div>
    </div>
</header>

<CommandPalette client:load />
<HeaderMobileMenu />
