---
import { Button } from "@/components/ui/button";

import { menu_items } from "config";

const pathname = new URL(Astro.request.url).pathname;
---

<div class="flex gap-4">
  {
    menu_items.map((item) => (
      <a href={item.href}>
        <Button
          variant={pathname === item.href ? "secondary" : "ghost"}
          key={item.href}
          client:load
        >
          {item.title}
        </Button>
      </a>
    ))
  }
</div>
