---
import { capitalizeFirstLetter } from "@/lib/utils";
import { docconfig } from "config";
import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";
import Datetime from "../Datetime";

interface Props {
  title: string;
  author: string;
  pubDatetime: Date | string;
  modDatetime?: Date | string;
  description?: string;
  draft: boolean;
  tags: string[];
  ogImage?: URL | undefined;
  headings?: {
    depth: number;
    text: string;
    slug: string;
  }[];
}

const {
  title,
  author,
  pubDatetime,
  modDatetime,
  description,
  draft,
  tags,
  ogImage,
  headings,
} = Astro.props as Props;
---

{!docconfig.hide_breadcrumbs && <Breadcrumbs class="py-4" />}
<h1 class="pb-6">{capitalizeFirstLetter(title)}</h1>
<Datetime
  pubDatetime={pubDatetime}
  modDatetime={modDatetime}
  size="sm"
  className="my-2"
/>
<div class="prose">
  <slot />
</div>
