---
import { capitalizeFirstLetter } from "@/lib/utils";
import type { SideNavMenuProps } from "@/lib/types";

const { items, level } = Astro.props as SideNavMenuProps;
const pathname: string = new URL(Astro.request.url).pathname;

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<ul class:list={["list-none m-0", className]}>
  {
    items.map((item) => {
      const label = item.title
        ? capitalizeFirstLetter(item.title)
        : capitalizeFirstLetter(item.slug.split("/").pop() || "");
      const className = `
        ${level === 0 ? "font-semibold" : "muted"}
        ${pathname === item.slug ? "underline" : ""}
        `.trim();
      return (
        <li>
          <a
            href={`/${item.slug}`}
            class={`${className}  text-sm leading-none w-full`}
          >
            {label}
          </a>
          {item.children.length > 0 && (
            <Astro.self items={item.children} level={level + 1} />
          )}
        </li>
      );
    })
  }
</ul>
