---
import type { HeadingHierarchy, HeadingProps } from "@/lib/types";
import { createHeadingHierarchy } from "@/lib/utils";

const { headings } = Astro.props as HeadingProps;
const toc: HeadingHierarchy[] = createHeadingHierarchy(headings ?? []);
const hasToC = toc.length > 1;

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

{
  hasToC && (
    <div class="relative">
      <h2 class="">Table of Contents</h2>
      <ul>
        {toc.map((heading) => (
          <li>{heading.text}</li>
        ))}
      </ul>
    </div>
  )
}
