---
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
---

<section
    class="h-[calc((100vh-5.25rem)*0.33)] overflow-y-hidden rounded-lg bg-linear-to-br from-blue-500 to-cyan-400 p-6"
>
    <div class="flex h-full flex-col items-center justify-evenly gap-2">
        <Icon name="github" class="text-background size-8" />
        <p class="text-background m-0 text-lg font-bold">Love this project?</p>
        <p class="text-background/90 m-0 text-center text-sm font-medium">
            Support CelestialDocs and help me keep building.
        </p>
        <a href="https://github.com/sponsors/HYP3R00T" target="_blank" rel="noopener noreferrer">
            <Button variant="secondary" size="lg">Sponsor</Button>
        </a>
    </div>
</section>
