@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 13% 16%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 213 13% 6%;
    --card: 0 0% 98%;
    --card-foreground: 213 13% 11%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 213 13% 16%;
    --primary-foreground: 213 13% 76%;
    --secondary: 0 0% 85%;
    --secondary-foreground: 213 3% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 8 86% 40%;
    --destructive-foreground: 0 0% 100%;
    --ring: 213 13% 16%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 216 28% 7%;
    --foreground: 210 17% 82%;
    --muted: 216 12% 15%;
    --muted-foreground: 216 12% 65%;
    --popover: 216 28% 4%;
    --popover-foreground: 210 17% 92%;
    --card: 216 28% 5%;
    --card-foreground: 210 17% 87%;
    --border: 216 18% 12%;
    --input: 216 18% 15%;
    --primary: 210 17% 82%;
    --primary-foreground: 210 17% 22%;
    --secondary: 216 28% 22%;
    --secondary-foreground: 210 7% 85%;
    --accent: 216 28% 22%;
    --accent-foreground: 216 28% 82%;
    --destructive: 1 86% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 17% 82%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

h2 {
  @apply mt-10 scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0;
}

h3 {
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight;
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

table {
  @apply w-full;
}

tr {
  @apply m-0 border-t p-0 even:bg-muted;
}

th {
  @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

td {
  @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
}

.lead {
  @apply text-xl text-muted-foreground;
}

.large {
  @apply text-lg font-semibold;
}

.small {
  @apply text-sm font-medium leading-none;
}

.muted {
  @apply text-sm text-muted-foreground;
}

/* ===== markdown ===== */

/* .prose > * {
  @apply m-0 p-0 space-y-2 pb-2;
} */

.prose iframe {
  @apply w-full aspect-video h-auto;
}

/* ===== scrollbar ===== */

/* width */
::-webkit-scrollbar {
  @apply w-2 h-2 rounded-[radius] transition-colors;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-muted-foreground border-border;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-card-foreground;
}

.astro-code {
  @apply p-4 mt-2;
}
