---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Astro Shadcn UI Template"
  description="This template helps you build apps with Astro, Tailwind CSS, and Shadcn UI."
>
  <h1>Astro</h1>
</BaseLayout>
