---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="font-bold text-3xl">
    Checkout my projects:
    <a href="http://hyperoot.dev" target="_blank" class="text-blue-400">
      hyperoot.dev
    </a>
  </h1>
</BaseLayout>
