---
const { class: className } = Astro.props;
---

<footer class:list={["border-t py-6 md:px-8 md:py-0", className]}>
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Built by{" "}
      <a
        href="https://github.com/HYP3R00T"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        HYP3R00T
      </a>
    </p>
  </div>
</footer>
