---
import { Search } from "lucide-react";
import { Input } from "@/components/ui/input";
---

<div class="relative min-w-[3rem]">
  <Search className="absolute left-2.5 top-2.5 h-4 w-4" />
  <Input type="search" placeholder="Search..." className="pl-8 w-full" />
</div>
