---
import HeadSEO from "@/components/core/HeadSEO.astro";
import Header from "@/components/core/Header.astro";
import Footer from "@/components/core/Footer.astro";

import { LOCALE } from "config";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="scroll-smooth">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="bg-background text-foreground font-sans">
    <div class="flex flex-col min-h-screen">
      <Header class="" />
      <main class="flex flex-1 flex-col md:flex-row justify-center py-6">
        <div class="md:w-3/4 md:max-w-8xl">
          <slot />
        </div>
      </main>
      <Footer class="border-t border-border bg-background" />
    </div>
  </body>
</html>
