---
import HeadSEO from "@/components/HeadSEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";
import SideNav from "@/components/docs/SideNav.astro";
import SideNavMenu from "@/components/docs/SideNavMenu";
import { LOCALE } from "@/config";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="scroll-smooth">
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="flex flex-col min-h-screen">
      <Header class="bg-white shadow-md" />
      <div class="flex flex-1 overflow-x-auto">
        <SideNav />
        <main class="flex-1 flex">
          <div class="flex-1 p-6">
            <Breadcrumbs />
            <slot />
          </div>
          <div class="w-64 p-6 bg-gray-50 border-l border-gray-200">
            <p>This is a placeholder for ToC</p>
          </div>
        </main>
      </div>
      <Footer class="bg-white border-t border-gray-200" />
    </div>
  </body>
</html>
