---
import HeadSEO from "@/components/HeadSEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";
import { menu, capitalizeFirstLetter } from "@/lib/utils";
import { LOCALE } from "@/config";
import TableOfContents from "@/components/docs/TableofContents.astro";
import SideNavMenu from "@/components/docs/SideNavMenu.astro";
import { ScrollArea } from "@/components/ui/scroll-area";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props as Props;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO
      title=`${title ? capitalizeFirstLetter(title) + " | Docs" : "Docs"}`
      description={description}
      ogImage={ogImage}
    />
  </head>
  <body class="bg-background text-foreground font-sans">
    <div class="flex flex-col min-h-screen">
      <Header class="border-b" />
      <main class="flex flex-1 flex-col md:flex-row container">
        <div
          class="px-6 py-4 hidden md:flex md:w-1/5 h-static_sidemenu sticky top-[69px]"
        >
          <ScrollArea className="h-full w-full" client:only="react">
            <SideNavMenu items={menu} level={0} />
          </ScrollArea>
        </div>
        <div class="px-6 py-4 w-full md:w-3/5">
          <Breadcrumbs class="" />
          <div class="prose">
            <slot />
          </div>
        </div>
        <div
          class="px-6 py-4 hidden md:flex md:w-1/5 h-static_sidemenu bg-green-100 sticky top-[69px]"
        >
        </div>
      </main>
      <Footer class="border-t border-border sticky top-[69px]" />
    </div>
  </body>
</html>

<!-- <body class="min-h-screen bg-background font-sans">
  <div class="flex flex-col min-h-screen">
    <Header class="" />
    <main class="flex flex-1 flex-col md:flex-row">
      <div class="hidden md:flex md:p-4 md:w-1/4 border-r bg-red-100">
        <ScrollArea className="h-full" client:only="react">
          <SideNavMenu items={menu} level={0} />
        </ScrollArea>
      </div>
      <div class="flex-1 p-4 md:w-1/2">
        <Breadcrumbs class="" />
        <div class="prose">
          <slot />
        </div>
      </div>
      <div class="p-4 md:w-1/4 bg-red-100">
        <TableOfContents class="hidden md:flex md:flex-col md:sticky" />
      </div>
    </main>
    <Footer class="border-t border-border" />
  </div>
</body> -->
