---
import HeadSEO from "@/components/HeadSEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumbs from "@/components/docs/Breadcrumbs.astro";
import { menu, SideNavMenu } from "@/components/docs/SideNavMenu";
import { LOCALE } from "@/config";
import TableOfContents from "@/components/docs/TableofContents.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  ogImage?: URL | undefined;
}

const { title, description, ogImage } = Astro.props as Props;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
  <head>
    <HeadSEO title={title} description={description} ogImage={ogImage} />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="flex flex-col min-h-screen">
      <Header class="" />
      <main class="flex flex-1 flex-col md:flex-row">
        <div class="hidden md:block md:p-4 md:w-1/4 border-r">
          <SideNavMenu items={menu} />
        </div>
        <div class="flex-1 p-4">
          <Breadcrumbs class="" />
          <div class="prose">
            <slot />
          </div>
        </div>
        <div class="p-4 md:w-1/4 border-l">
          <TableOfContents
            class="hidden md:flex md:flex-col md:sticky md:top-28"
          />
        </div>
      </main>
      <Footer class="border-t border-border" />
    </div>
  </body>
</html>
